html,
body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  text-align: center;
}

header {
  background-color: #94C1DB;
  height: 8%;
  width: 100%;
  flex-shrink: 0;
  padding: 10px 0;
}

main {
  background-color: #DDAC98;
  width: 100%;
  height: 90%;
  display:flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 0;
}

.flex-container {
  display:flex;
  width:100vw;
  height:100vh;
  flex-direction:column;
}

.item {
  height:80%;
  width:45%;
  margin:0px 20px 0px 20px;
  background-color:#FAFCF7; 
  padding-top: 0px;
}

.setWidth {
  flex-basis: 100px;
  flex-grow: 1;
}

#itemheader {
  height: 10%;
  border-bottom: 1px solid black;
}

li{
    margin-top: 11%;
    font-size: 1.5em;
    text-align: left;
    padding-left: 20px;
}

.buttoninstructions {
  width: 100%;
  background-color: #DDAC98;
}

/*Stats item*/

#stats p {
    margin-top: 7%;
    font-size: 1.5em;
    text-align: left;
    padding-left: 100px;
}

/*Button Section*/

#buttonchange {
  background-color: #FAFCF7; 
  color: black;
  padding: 15px 32px;
  margin-left: 15%;
  margin-right: 2%;
  margin-top: 0%;
  margin-bottom: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 20%;
  float:left;
}

.instructions {
  background-color: #FAFCF7; 
  color: black;
  padding: 15px 32px;
  margin-left: 0%;
  margin-right: 2%;
  margin-top: 0%;
  margin-bottom: 2%;
  text-align: left;
  padding-left: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 42%;
  float:right;
}

